

@font-face {

    font-family: MinecraftTen;
    src: url(fonts/MCTEN.ttf);

}

.heroback {

    background-image: url("../img/backround.png");
    background-repeat: no-repeat;
    background-size: 100vw 1080px;
   
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav{
  margin-left: 1% !important;
  margin-right: 1% !important;
}

.navbar-brand{
  height: 10vh;
}

.wolf {

    font-size: 90px;
    margin-top: 25px;

}

.tagline {

    font-family: MinecraftTen;
    font-size: 100px;

    color: white;

    margin-left: 6%;
    margin-top: 15%;

}



