

@font-face {

    font-family: MinecraftTen;
    src: url(../fonts/MCTEN.ttf);

}

@font-face {

    font-family: chatBold;
    src: url(../fonts/chatBold.otf);
    /* fonts public domain so we should be okie */
}

.heroback {

    background-image: url("../img/backround.png");
    background-repeat: no-repeat;
    background-size: 100vw 1080px;
   
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.minecraftNav {
    font-family: chatBold;
    font-size: 2vw;

    
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: #686868;
    paint-order: stroke fill;

}

.nav{
  margin-left: 1% !important;
  margin-right: 1% !important;
}

.navbar-brand{
  height: 10vh;
}

.tagline {

    font-family: MinecraftTen;
    font-size: 120px;

    color: white;

    margin-left: 5%;
    margin-top: 10%;

}



.discordBtnText {

    height: 40px;
    width: 405px;

    font-family: chatBold;
    font-style: italic;
    font-size:150%;  


}



